/*UNIVERSAL SELECTOR*/
* {

}
/****************
GENERAL
****************/
body {
 margin: 0;
 font-family: 'Roboto', sans-serif;
 line-height: 1.5;    
}

.main-header {
 height: 850px;
 padding-top: 170px;
}

.main-header, .title {
  text-align: center;
}

.title {
/*To change font-size from px to em. Do this simple equation.
Whatever the desired pixel is / 16. 
26px/16px =
*/
  font-size: 1.625em;
}

.primary-content {
 text-align: center;
 padding-bottom: 95px;
}

.secondary-content {
  padding-top: 80px;
  padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e5;
}

.primary-content, .secondary-content {
  width: 60%;
  margin: auto;
}

.t-border {
  border-top: 2px solid lightgrey;
}

ul li {
 margin-bottom: 5px;
}

.arrow {
 width: 50px;
}

.wildlife {
/*padding-top: 100px;
 padding-right: 120px;
 padding-bottom: 100px;
 padding-left: 120;*/
 padding: 18% 24%;  
 /*two valves first is for top and bottom, 2nd is for left and right.*/
 /*border-width: 10px 20px;    
 border-style: solid;
 border-color: #ffa949;*/
 border-top: 10px solid #ffa949;
/*when 3 values. First one is the top. Seconnd is left and right. Third one is bottom*/
 margin: 105px 0 60px; 
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

#main-footer {
   padding-top: 60px;
   padding-bottom: 60px;
   border-bottom: solid 10px orange;
}


/*****************************
HEADLINE ELEMENTS & P ELEMENTS
*****************************/

h1 {
  /*90px/16px*/
  font-size: 5.625em;
  text-transform: uppercase;
  font-weight:normal;
  line-height: 1.3;
}

h2 {
font-size: 53px;
text-decoration: underline;
font-size: normal;
/*26px/53px*/
margin-bottom: .5em;
}

h3 {
font-size: 20px;
/*34px/20px*/
margin-bottom: 1.7em;
}

p {

}

/***************
COLORS
***************/
body {
color: #878787;
}

.title {
 color: white;
}

.main-header {
background-color: red;
}

.wildlife {
color: white;
background-color: #434a52
}

ul li {
  color: white;
  background-color: tomato;
}

h1 {
color: white;
}

h3 {
   color: #4852c;
}

/*CSS PSEUDO CLASS*/
a:link {
  color: #ffa949;
  text-decoration: none;
}

a:visited {
  color: lightblue;
}
 
a:hover {
  color: forestgreen;
}

a:active {
 color: coral;
}

a:focus {
 color: white;
 background-color: orange;
}




